.page-width {
    max-width: 1440px;
    margin: auto;
}

/* header start */
.header-and-about-containers {
    background-image: url(../img/bg-first-page.png);
    background-size: cover;
    margin-bottom: 120px;
}

.header-and-about-containers .header-container {
    max-width: 1117px;
    margin: auto;
    padding-top: 35px;
    margin-bottom: 82px;
}

.header-container .top-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.header-container .top-block svg {
    cursor: pointer;
}

.top-block .top-left-side-block {
    display: flex;
    gap: 47px;
    align-items: center;
}

.top-left-side-block .mail,
.top-left-side-block .phone {
    display: flex;
    gap: 18px;
    cursor: pointer;
}

.mail .mail-text,
.phone .phone-text {
    color: var(--White, #FFF);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.top-block .top-right-side-block {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.header-container .bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
    padding-inline: 52px 5px;
    background-color: var(--White);
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}

.bottom-block .bottom-left-side,
.bottom-block .bottom-right-side {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bottom-left-side .left-side-text,
.bottom-right-side .right-side-text,
button .right-side-button-text {
    color: var(--Black);
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.bottom-right-side button {
    padding: 12px 15px 8px 16px;
    border-radius: 5px;
    background-color: var(--Royal-blue);
    border: unset;
}

button .right-side-button-text {
    color: var(--White);
    cursor: pointer;
}

.logo-between-blocks {
    position: absolute;
    border-radius: 5px;
    background-color: var(--White);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    padding-block: 31px;
    padding-inline: 16px;
    left: 38%;
}

.about-app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1310px;
    margin-left: auto;
    padding-bottom: 88px;
    gap: 44px;
}

.about-app-container .left-block-wrap {
    padding: 32px 32px 32px 0px;
    border: 18px solid #7572FF;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 570px;
    margin-left: 50px;
}

.left-block-wrap .left-block {
    padding-block: 40px;
    padding-inline: 30px 25px;
    background-color: var(--White);
    margin-left: -50px;

}

.left-block .main-text {
    color: var(--Royal-blue);

    font-family: var(--font-JosefinSans);
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.left-block .discription {
    color: var(--gray-paragraph);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 52px;
}

.left-block .download-text {
    color: var(--Black);

    font-family: var(--font-JosefinSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.google-apple-store {
    display: flex;
    align-items: center;
    gap: 14px;
}

.google-apple-store button {
    background: unset;
    border: none;
}

/* header end */

/* section-1 start*/
.section-1 {
    max-width: 1144px;
    margin: auto;
}

.section-1 .phone-and-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    align-items: center;
}

.phone-and-block .android-phone {
    min-height: 238px;
}

.phone-and-block .blocks-wrap {
    max-width: 570px;
}

.blocks-wrap .block {
    padding-block: 30px 21px;
    padding-inline: 18px 20px;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: flex-start;
    gap: 17px;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.blocks-wrap .block:last-child {
    margin-bottom: 0px;
}

.block svg {
    flex-shrink: 0;
}

.block-text-wrap .block-top-text {
    color: var(--Black);
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.block-text-wrap .block-discription {
    color: var(--gray-paragraph);
    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* secion-1 end */

/* section 2 start */
.section-2 {
    background-image: url(../img/app-bg.png);
    background-size: cover;
    margin-bottom: 120px;
    padding-block: 120px;
}

.section-2 .main-text,
.section-2 .discription {
    color: var(--White);
}

.section-2 .app-block {
    min-width: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 .app-block.left {
    align-items: flex-end;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.section-2 .app-block.right {
    align-items: flex-start;
    text-align: left;
}

#block-left-top {
    grid-area: blockLeftTop;
}

#block-left-bottom {
    grid-area: blockLeftBottom;
}

#app-img {
    grid-area: imgCenter;
    margin: auto;
}

#block-right-top {
    grid-area: blockRightTop;
}

#block-right-bottom {
    grid-area: blockRightBottom;
}

.section-2 .app-block svg {
    margin-bottom: 22px;
}

.section-2 .app-block.top,
.section-2 .app-block.bottom {
    text-align: center;
    margin: auto;
}

.app-block .block-name {
    color: var(--White);
    font-family: var(--font-JosefinSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.app-block .block-discription {
    color: var(--White);
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.section-2 .app-middle-block-with-phone {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: 'blockLeftTop imgCenter blockRightTop'
        'blockLeftBottom imgCenter blockRightBottom';
    align-items: center;
    column-gap: 60px;
    padding-block: 60px;
}

.app-middle-block-with-phone .app-block-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 60px;
    grid-row: span 2;
    height: 100%;
    align-items: flex-start;
}

.app-middle-block-with-phone .app-block-wrap.top {
    align-items: flex-end;
}

.app-middle-block-with-phone img {
    border-radius: 40px;
    box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.50);
    width: 100%;
    min-width: 215px;
}

/* section 2 end*/

/* section 3 start */

.section-3 {
    margin-bottom: 120px;
}

.slider-container .slider-wrap {
    padding-inline: 70px;
}

.slider-wrap ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-bottom: 40px;
    padding-inline: 40px;
}

ul #left {
    margin-right: -12%;
    z-index: -1;
    margin-left: 30px;

}

ul #center {
    margin-inline: 18px;

}

ul #right {
    margin-left: -12%;
    margin-right: 30px;
    z-index: -1;

}

ul .switcher-left-right.right {
    rotate: 180deg;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.nav .nav-btn {
    position: relative
}

.nav .nav-btn::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: var(--Royal-blue);
    cursor: pointer;
    margin: 4px;
}

/* section 3 end */
/* section 4 start */
.section-4 .download-app-container {
    display: flex;
    gap: 80px;
    max-width: 1116px;
    margin: auto;
    margin-bottom: 120px;
    align-items: center;
}

.download-app-container .download-app-wrap {
    margin-bottom: 60px;
}

.download-app-wrap .main-text {
    margin-bottom: 0px;
}

.download-app-wrap .discription {
    margin-bottom: 40px;
}

.download-app-wrap .google-apple-store {
    gap: 30px;
}

.download-and-blocks .download-like-start-blocks {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.download-like-start-blocks .block {
    padding-block: 30px 21px;
    padding-inline: 20px 21px;
    border-radius: 10px;
    background-color: var(--Royal-blue);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 170px;
}

.block.number {
    padding-inline: 10px;
}

.block .number {
    font-family: var(--font-JosefinSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: var(--White);
    margin-block: 18px;
}

.block .block-name {
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--White);
}

/* section 4 end */
/* section 5 start */
.section-5 {
    background-image: url(../img/how-to-use-app-bg.png);
    padding-top: 120px;
    background-repeat: no-repeat;
    margin-bottom: 120px;
}

.section-5 .how-to-use-app-container {
    margin: auto;
    max-width: 770px;
    text-align: center;
}

.how-to-use-app-container .main-text {
    color: var(--White);
}

.how-to-use-app-container .discription {
    color: var(--White);
    margin-bottom: 60px;
}

.how-to-use-app-container .video-wrap {
    position: relative;
}

.video-wrap video {
    max-width: 670px;
    border-radius: 10px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);

}

.video-wrap .icon {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* section 5 end */
/* section 6 start */
.section-6 {
    max-width: 1170px;
    margin: auto;
    margin-bottom: 120px;

}

.section-6 .discription {
    margin-bottom: 60px;
}

.our-team-blocks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.our-team-blocks .block {
    padding-block: 29px 53px;
    padding-inline: 22px;
    border-radius: 10px;
    background-color: var(--White);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
    text-align: center;
    max-width: 370px;
}

.block img {
    margin: auto;
    margin-bottom: 66px;
}

.block .position {
    color: var(--gray-paragraph);
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media li {
    margin-inline: 31px;
    position: relative;
}

.social-media li:not(:last-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--gray-paragraph);
    position: absolute;
    left: 49px;
}

.social-media li svg path {
    fill: var(--Black);
}

/* section 6 end */

/* section 7 start */
.section-7 {
    background-image: url(../img/bg-first-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 120px;
    margin-bottom: 120px;
}

.section-7 .top-text .main-text,
.section-7 .top-text .discription {
    color: var(--White);
}

.section-7 .slider-container {
    position: relative;
}

.slider-container .slider-wrap {
    display: flex;
    gap: 31px;
    justify-content: center;
    padding-block: 10px;
    margin-bottom: 60px;
}

.slider-wrap .slides {

    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
    max-width: 570px;
    width: 100%;
    padding-inline: 38px;
    min-height: 330px;
}

.slider-wrap .slides-main {
    max-width: 770px;
    padding-inline: 62px;
    padding-block: 40px 36px;
    position: absolute;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
    top: -1px;
}

.slider-wrap img {
    margin: auto;
    margin-bottom: 20px;
}

.slider-wrap .name {
    color: var(--Black);

    font-family: var(--font-JosefinSans);
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px;
    text-transform: uppercase;
    text-align: center;

}

.slider-wrap .position {
    color: var(--Black);
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.slider-wrap .discription {
    color: var(--gray-paragraph);
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.slider-container .nav {
    margin-top: 60px;
}

.slider-container .nav-btn::after {
    background-color: var(--White);

}

/* section 7 end */

/* section 8 start */
.section-8 .news-blocks-wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 120px;
}

.news-blocks-wrap .news-block {
    border-radius: 10px;
    background: var(--White);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    max-width: 370px;
}

.news-block img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-block .news-text {
    padding-inline: 12px;
    padding-block: 40px 36px;
    text-align: left;
}

.news-text .name-of-news {
    color: var(--Black);

    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    text-transform: uppercase;
    margin-bottom: 10px;
}

.news-text .discription {
    color: var(--gray-paragraph);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 28px;
}

.news-text .read-more {
    color: #5851EA;
    font-family: var(--font-JosefinSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    text-decoration-line: underline;
    text-transform: uppercase;
    cursor: pointer;
}

/* section 8 end */

/* footer */
footer {
    position: relative;
}

footer .top-block-with-info {
    border-radius: 30px;
    background-color: var(--White);
    width: 100%;
    max-width: 1170px;
    padding-block: 57px;
    padding-inline: 50px;
    display: flex;
    gap: 50px;
    margin: auto;
}

.bg-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
    max-width: 1170px;
    margin: auto;
    border-radius: 30px;
    z-index: -1;
}

.top-block-with-info .email,
.top-block-with-info .phone {
    display: flex;
    gap: 18px;
    width: 100%;
    max-width: 535px;
    align-items: center;
}

.top-block-with-info .email {
    position: relative;
}

.top-block-with-info .email::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--gray-paragraph);
    right: 0;
}

.email .info,
.phone .info {
    color: var(--Black);
    font-family: var(--font-JosefinSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;

    text-transform: lowercase;
}

.footer-info-block-wrap {
    background: var(--Black, #232233);
    margin-top: 240px;
    padding-top: 240px;
}

.top-block-container {
    position: absolute;
    width: 100%;
    margin: auto;
    top: -25%;
}

.logo-link-atc-blocks {
    display: flex;
    max-width: 1170px;
    margin: auto;
    padding-bottom: 66px;
    border-bottom: 1px solid var(--White);
}

.logo-link-atc-blocks .discription {
    color: var(--White);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.logo-link-atc-blocks .logo-block {
    max-width: 334px;
    text-align: left;
    margin-right: 66px;
}

.logo-block .logo {
    color: var(--White);

    font-family: var(--font-JosefinSans);
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.25px;
    text-transform: uppercase;
}

.logo-block .social-media svg path {
    fill: white;
}

.logo-block .discription {
    margin-bottom: 40px;
}

.logo-link-atc-blocks .quick-link {
    text-align: left;
}

.quick-link .quick-link-text,
.news-letter .news-letter-text {
    color: var(--White);

    font-family: var(--font-JosefinSans);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.quick-link ul {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
}

ul .quick-links {
    color: var(--White);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.logo-link-atc-blocks .news-letter {
    max-width: 369px;
    margin-left: auto;
}

.news-letter .discription {
    margin-bottom: 33px;
}

.news-letter .input-send-email {
    display: flex;
    justify-content: space-between;
    padding-block: 2px;
    padding-inline: 18px 2px;
    background-color: var(--White);
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.input-send-email .input-email {
    border: none;
}

.input-send-email .label-email {
    position: absolute;
    top: 12px;
    left: 18px;
    color: var(--gray-paragraph);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.footer-info-block-wrap .copyright {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    padding-block: 18px;
}

.copyright .copyright-text {
    color: var(--White);

    font-family: var(--font-JosefinSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* footer end */
.bottom-left-side svg {
    display: none;
}

@media(max-width:1350px) {
    .header-and-about-containers {
        padding-left: 40px;
    }

    .header-and-about-containers .header-container {
        padding-right: 40px
    }

    .bottom-block .bottom-left-side,
    .bottom-block .bottom-right-side {
        gap: 20px;
    }
}

@media(max-width:1280px) {
    .section-4 .flying-phones {
        min-width: 570px;
    }

    .our-team-blocks {
        flex-direction: column;
    }

    .section-4 .download-app-container {
        flex-direction: column;
        padding-inline: 40px;
    }
}

@media(max-width:1080px) {

    .bottom-left-side .left-side-text,
    .bottom-right-side .right-side-text {
        display: none;
    }

    .bottom-left-side svg {
        display: block;
    }

    .header-container .top-block {
        margin-bottom: 35px;
    }

    .left-block-wrap .left-block {
        padding-inline: 16px;
        padding-block: 40px;
    }

    .left-block .main-text {
        font-size: 31px;
        line-height: 48px;
        margin-bottom: 0px;
    }

    .left-block .discription {
        margin-bottom: 16px;
    }

    .left-block .download-text {
        font-size: 20px;
        line-height: 30px;
    }

    .section-2 .app-middle-block-with-phone {
        padding-inline: 35px;
        column-gap: 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'blockLeftTop'
            'blockRightTop'
            'imgCenter'
            'blockLeftBottom'
            'blockRightBottom';

    }

    .app-middle-block-with-phone .app-block-wrap {
        gap: 86px;
    }

    .app-middle-block-with-phone .app-block-wrap,
    .app-middle-block-with-phone .app-block-wrap.top {
        align-items: center;
    }

    .section-2 .app-block.left,
    .section-2 .app-block.right {
        align-items: center;
        text-align: center;
    }

    .app-middle-block-with-phone img {
        width: unset;
    }

    .app-block .block-name {
        font-size: 20px;
        line-height: 30px;
    }

    .section-4 .flying-phones {
        min-width: 330px;
    }
    footer .top-block-with-info{
        padding-inline:25px;
    }
}

@media(max-width:768px) {

    header,
    .section-1,
    .section-2,
    .section-3 {
        padding-inline: 20px;
    }

    .logo-between-blocks {
        padding-block: 21px;
        padding-inline: 11px;
        max-width: 100px;
    }

    .bottom-right-side button {
        padding: 12px 6px;
    }

    button .right-side-button-text {
        font-size: 10px;
        line-height: normal;
    }

    .header-and-about-containers {
        padding-inline: 16px;
    }

    .header-container .bottom-block {
        padding-inline: 9px 5px;
    }

    .header-and-about-containers .header-container {
        padding-right: 0px;
    }

    .header-container .top-block {
        margin-bottom: 20px;
    }

    .about-app-container {
        flex-direction: column;
    }

    .section-1 .phone-and-block {
        flex-direction: column;
        gap: 40px;
    }

    .section-2 .app-middle-block-with-phone {
        gap: 8px;
        padding-inline: 0px;
    }

    .section-4 .download-app-container {
        padding-inline: 16px;
    }

    .app-middle-block-with-phone .app-phone-center {
        min-width: 214px;
    }

    .download-like-start-blocks .block {
        padding-block: 11px 12px;
        padding-inline: 5px 3px;
        min-width: 96px;
    }

    .download-and-blocks .download-like-start-blocks {
        gap: 18px;
    }

    .block .number {
        margin-block: 8px 0px;
        font-size: 20px;
        line-height: 30px;
    }

    .block .block-name {
        font-size: 16px;
        line-height: 24px;
    }

    .video-wrap video {
        max-width: 343px;
    }

    .switcher-left-right {
        display: none;
    }

    .nav .nav-btn::after {
        width: 14px;
        height: 14px;
        border-radius: 14px;
    }

    .slider-container .slider-wrap {
        padding-inline: 0px;
    }

    ul #center {
        margin-inline: 0px;
    }

    ul #right {
        margin-right: 0px;
    }

    ul #left {
        margin-left: 0px;
    }

    .our-team-blocks .block {
        padding-inline: 15px;
    }

    footer .top-block-with-info {
        flex-direction: column;
        align-items: center;
    }

    .top-block-with-info .email::after {
        width: 25%;
        height: 4px;
        bottom: -15%;
        right: unset;
    }
    .top-block-with-info .email, .top-block-with-info .phone{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:600px) {
    .header-container .top-block {
        display: none;
    }
}

@media(max-width:400px) {
    .video-wrap video {
        max-width: 300px;
    }
}